<div class="splash-container">
    <h1 class="app-name">Budgety</h1>
    <div class="logo"></div>
    <div class="splash-links">
    <div class="splash-link">
        <%=link_to "SIGN UP", new_user_registration_path %>
    </div>
    <div class="splash-link">
        <%=link_to "LOG IN", new_user_session_path%>
    </div>
    </div>
</div>